/* ToDo list */
body{background-color: #f5f5f5;}
#wrap {
    position: relative;/* 글쓰기버튼을 고정하기 위한 부모 위치기준 */

    width: 402px; min-height: 874px;
    background-color: #fff;
    margin: 0 auto;
}
/* ===========================header */
#wrap header {background-color: aqua;}
#wrap header .top {
    background-color: aquamarine;
    /* flex사용기준 : 정렬하고 싶은 대상을 가진 부모 */
    /* 정렬대상 : 왼쫀 h1 오른쪽 div.right, 부모.top */
    display: flex; /* 기본 메인축 수평(row) */
    flex-flow:row nowrap;/* 메인축 방향(수평,수직), 줄바꿈(o,x) */
    justify-content: space-between;/* 메인축 정렬(양끝배치) */
    padding: 10px 0;
}
#wrap header .top .right{
    display: flex;/* 검색a, 메뉴a 정렬 위해 부모입력 */
    flex-flow: row nowrap;/* 검색,메뉴 옆으로 줄바꿈x */ 
    gap:8px; /* 검색 메뉴 사이의 여백 */
}
#wrap header nav {
    display: flex; 
    flex-flow: row nowrap;
    gap: 12px;
    padding: 8px 0;
}
/* =============================main */
#wrap main {padding: 50px 15px 0;}
#wrap main .todo_list  {}
#wrap main .todo_list li {
    display: flex; flex-flow: row nowrap;
    gap: 20px;/*  자식 span+em 사이 수평 여백*/
    border-bottom: 1px solid #222;
    padding: 10px 0;/* 내용과 테두리 사이안쪽여백 */
}
#wrap main .write_btn {
    position: absolute;/* 부모 wrap을 기준으로 상대적으로 움직인다는 자식설정 */
    right: 50px; bottom: 50px;/* 부모 위치에서 가까운 방향 설정  */
    background-color: skyblue;
    width: 42px; height: 42px;
}
#wrap main .write_btn img {width: 100%;}
/* ============================popup */
#wrap main .write_popup {
    background-color: #fff;
    position: absolute;
    width: 311px; height: 226px;
    left: 10%; top: 35%;
    z-index: 60;
    padding: 20px;
}
#wrap main .write_popup  .user_write{}
#wrap main .write_popup  #write_btn2 {
    background-color: purple;
    width: 46px; height: 46px;
    position: absolute;
    right: 10px; bottom: 8px;
}
#wrap main .write_popup  #write_btn2 img{width: 100%;}
#wrap main .popup_bg {
    z-index: 50;
    background-color: rgba(0,0,0,0.25);
    /* div(block) 기본크기 : w100%, h(max-content) */
    position: absolute;
    /* absolute 적용시 w,h 모두 입력 필수 */
    width: 100%; height: 100%;
    left: 0; top: 0;
}